.modalContainer {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(10,10,10,0.4);
}
.modalContainer .modal-content {
    background-color: rgba(10,10,10,0.4);;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-top: 10px solid red;
    width: 60%;
}

.modalContainer .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.fondo{
    background-color: rgb(248, 249, 250);
}
.fondonegro{
    background-color: rgb(0,0,0);
}

.border{
    border: solid;
    border-color:rgba(173, 170, 168, 0.486) ;

}
.fondoinicio
{
    background: url(../img/fondoinisio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:500px;

}
.colorheader{
    background-image: linear-gradient(to right,red , rgb(139, 137, 141));
   
}
.blanco
{
    color:white;
}
a:active{
    color: purple;
}
.transp{
    background: rgba(240, 243, 240, 0.8);
}
.custom-control-label::after{
    background-color:red;
  }
  
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:black;
  }


.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
